# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/
__pycache__

static/
*.png
*.jpg
*.jpeg
*.svg

#ignore all migrations except __init__.py file
**/migrations/

#ignore env file
env/